<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!--중간에 content로 표시된 영역이 다른내용으로 변경되어야 하기 때문에 수정가능하도록 함!-->
<th:block th:fragment="setContent(content)">

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

<body>

<style>
    * {
        margin: 0;
        padding: 0;
    }
    .header {
        width:100vw;
        height: 20vh;
        background-color: aqua;
    }
    .content {
        width: 100vw;
        height: 70vh;
        background-color: lightgray;
    }
    .footer {
        width: 100vw;
        height: 10vh;
        background-color: green;
    }
</style>


<div class="header">
    <h1>HEADER</h1>
</div>
<div class="content" >

    <!-- replace 를 이용해서 파라미터로 전달되는 content를 출력 -->
    <th:block th:replace = "${content}">
    </th:block>

</div>

<div class="footer">
    <h1>FOOTER</h1>
</div>

</body>
</th:block>
</html>
